.main {
  text-align: center;
  h3 {
    padding-bottom: 5vw;
    text-align: center;
    border-bottom: solid 1.2px black;
    font-family: 'Monoton', sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
    line-height: 49px;
    letter-spacing: 0.4vw;
    margin-top: 3rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}
