.mainmain {
  display: flex;
  flex-direction: column;
  h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    // font-size: 12px;
    letter-spacing: 0.2vw;

    //    margin: 5px;
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;

    // font-size: 12px;
    letter-spacing: 0.2vw;
    //    margin: 5px;
  }
  button {
    text-transform: uppercase;
    background-color: rgba(185, 179, 179, 0);
    border-radius: 3px;
    border: solid 1.2px rgb(70, 65, 131);
    height: 24px;
  }
  button:hover {
    background-color: rgb(70, 65, 131);
    border-radius: 3px;
    border: solid 1.2px rgb(70, 65, 131);
  }
  .removeButton {
    text-transform: lowercase;

    background-color: rgba(185, 179, 179, 0);
    border-radius: 3px;
    border: solid 1.2px tomato;
    height: 24px;
  }
  .removeButton:hover {
    background-color: tomato;
    border: solid 1.2px tomato;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3vw;
    // font-size: 12px;
    letter-spacing: 0.2vw;
    color: rgba(75, 74, 74, 0.7);
    //    margin: 5px;
  }
}

.h1 {
  padding-bottom: 5vw;
  text-align: center;
  border-bottom: solid 1.2px black;
  font-family: 'Monoton', sans-serif;
  font-weight: 400;
  //color: rgba(185, 179, 179, 0);
  // text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
  // -1px -1px 0 #000;
  font-size: 13vw;
  line-height: 49px;
  letter-spacing: 4.6vw;
  margin-top: 5vw;
  margin-bottom: 0;
}

.product {
  align-items: center;
  padding: 20px;
  margin: 2% 15%;
  border-radius: 10px;
  height: 120px;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(18.2px);
  -webkit-backdrop-filter: blur(18.2px);
  background: rgba(203, 198, 198, 0.2);
}
.product:hover {
  background: rgba(203, 198, 198, 0.7);
  box-shadow: 5px 5px 7px #445983;
}
.checkoutAndPrice {
  border-top: solid 1.2px black;
  align-items: center;
  display: flex;
  justify-content: center;
  h2 {
    padding: 1.5rem;
  }
}
