.main {
  padding: 0 12px;
  h1 {
    padding-bottom: 5vw;
    border-bottom: solid 1.2px black;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-weight: 700;
    color: #8d99ae;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
      -1px -1px 0 #000;
    font-size: 13vw;
    line-height: 49px;
    letter-spacing: 1.7vw;
    margin-top: 5vw;
    margin-bottom: 0;
  }
  p {
    column-count: 2;
    // column-rule-width: 40px;
    font-size: 15px;
    text-align: justify;
  }
}
