.html {
  // opacity: 70%;
  width: 100%;
  margin: 0px;
  background-color: #c1121f;
  background-size: cover;
  display: flex;
  justify-content: center;
  a,
  a:link,
  a:visited {
    color: #black;
    text-decoration: none;
  }
}
.body {
  width: 80%;
  border-radius: 17px;
  background-color: white;
  border-top: solid black 19px;
  border-bottom: solid black 19px;

  margin: 30px 30px;

  button {
    border: solid black 1px;
  }
}
.h1 {
  font-family: 'Questrial', sans-serif;
  font-weight: 700;
  font-size: 3em;
  line-height: 49px;
  letter-spacing: 5px;
  margin-top: 0px;
  // border-top-right-radius: 0;
  // border-top-left-radius: ;
  // font-border: 1px solid #000000;
}
.header {
  display: flex;
  justify-content: flex-end;
  border-bottom: solid 2px black;

  nav {
    font-weight: 400;
    font-size: 0.7em;
    justify-content: center;
    margin: 5px;

    & a + a,
    span + a {
      margin-left: 13px;
    }
    &div {
      margin-right: auto;
      display: flex;
      gap: 6px;
    }
  }
}

.footer {
  border-top: solid black 2px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1.2vw;
  letter-spacing: 1.5vw;
  padding: 5px;
}
