.html {
  // opacity: 70%;
  width: 100%;
  margin: 0px;
  // background-color: #c1121f;
  // background-color: #f8cfd2;
  background-image: url('/background11.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;

  // backdrop-filter: blur(10px);

  a,
  a:link,
  a:visited {
    color: black;
    text-decoration: none;
  }
}
.body {
  // position: fixed;
  // opacity: 88%;
  background: rgba(185, 179, 179, 0.37);
  border-radius: 16px;
  //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.2px);
  -webkit-backdrop-filter: blur(18.2px);
  width: 92%;
  max-width: 1180px;
  height: 92%;
  border-radius: 17px;
  border-top: solid black 19px;
  border-bottom: solid black 19px;
  margin: 4vw 4vw;
}
.body:hover {
  box-shadow: 7px 7px 7px #1b263b;
}
.h1 {
  font-family: 'Alternates', sans-serif;
  font-weight: 800;
  color: black;
  font-size: 1.5vw;
  line-height: 30px;
  letter-spacing: 5.2vw;
  margin: -0.3 vw;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 1.2px black;
  border-top: solid 1.2px black;

  button {
    background-color: rgba(185, 179, 179, 0);
    border-radius: 3px;
    border: none;
  }
  button:hover {
    border: solid 1.2px rgb(70, 65, 131);
    border-radius: 3px;
  }

  nav {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2vw;
    margin: 5px;
    // gap: 30vw;

    & a + a,
    span + a {
      margin-left: 13px;
    }
    &div {
      margin-right: auto;
      display: flex;
      gap: 6px;
    }
  }
}
.left {
  display: flex;
  align-items: left;
}
.right {
  display: flex;

  align-items: right;
}
.footer {
  border-top: solid black 1.2px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.5vw;
  padding: 5px;
}
