.main {
  display: flex;
  flex-wrap: wrap;
  h2,
  h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3vw;
    // font-size: 12px;
    letter-spacing: 0.2vw;
    //    margin: 5px;
  }

  ul {
    // width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
  }
}

.card {
  backdrop-filter: blur(18.2px);
  -webkit-backdrop-filter: blur(18.2px);
  background: rgba(203, 198, 198, 0.7);

  // padding: 8px;
  margin: 5%;
  text-size-adjust: auto;
  // width: 120px;
  width: 23%;
  // height: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  // box-shadow: 7px 7px 7px #626b79, -7px 7px 7px #626b79;
  // border: solid 1.2px #626b79;
  border-bottom: solid 8px #2e3033;
  h3,
  h2 {
    //border: solid 1.2px black;
  }
}
.card:hover {
  //margin: 2px;
  padding: 2px;
  box-shadow: 7px 7px 7px #445881;
}

.h1 {
  padding-bottom: 5vw;
  text-align: center;
  border-bottom: solid 1.2px black;
  font-family: 'Monoton', sans-serif;
  font-weight: 400;
  //color: rgba(185, 179, 179, 0);
  // text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
  // -1px -1px 0 #000;
  font-size: 13vw;
  line-height: 49px;
  letter-spacing: 4.6vw;
  margin-top: 5vw;
  margin-bottom: 0;
}
.img {
  // max-width: 12px;
  border-radius: 50%;
  object-fit: cover;
}
